<!-- plugin indicators -->
<a class="header-text" ng-repeat="navbar in plugins.elems.navbar">
  <ng-include src="navbar.templateUrl"/>
</a>

<!-- CHA status -->
<a class="header-text" ng-if="bluetoothStatus.state">
  <cha-indicator></cha-indicator>
</a>

<!-- Svantek status -->
<a class="header-text">
  <span ng-if="svantek.state === 'connected' || svantek.state === 'recording'" uib-popover="Dosimeter Connected" popover-placement="bottom" popover-trigger="outsideClick">
    <img ng-src="img/svantek-indicator.png" style="height:25px">
  </span>
</a>


<!-- bluetooth status -->
<a class="header-text" ng-if="bluetoothStatus.state">
  <span uib-popover="Bluetooth Connected" popover-placement="bottom" popover-trigger="outsideClick">
    <i class="ion-bluetooth"></i>
  </span>
</a>

<!-- network status -->
<a class="header-text" ng-if="networkModel.status">
  <span uib-popover="WiFi Connected" popover-placement="bottom" popover-trigger="outsideClick">
    <i class="ion-wifi" ></i>
  </span>
</a>

<a class="header-text" ng-if="!networkModel.status">
  <span uib-popover="WiFi Not Connected" popover-placement="bottom" popover-trigger="outsideClick" class="glyphicon glyphicon-ban-circle"></span>
</a>
