<div ng-controller="CustomJs1">

  <h3> This is a seperate HTML file. <br><br>
  This file can contain information and questions that are not already available within the TabSINT framework </h3>
  
  <br><br>
  
  <h4>{{test}}</h4>

</div>