<div ng-controller="LikertResponseAreaCtrl">
  <div class="row likert">
    <form name="LikertForm">

      <p class="top primary likert-label" ng-if="page.dm.responseArea.centerLabelAbove"> {{page.dm.responseArea.centerLabelAbove}}</p>

      <div ng-repeat="question in questions track by $index" ng-init="parentIndex = $index">
			  
			  <table>
					<caption class="likert-question-text">{{question.text}}</caption>
					
					<tr>
					  <td></td>
					  <!--We want (Nlevels*2)+2 columns for layout purposes-->
					  <td ng-repeat="level in question.levels track by $index"></td>
					  <td ng-repeat="level in question.levels track by $index"></td>
					  <td></td>
					  <div ng-style="{'padding-bottom': page.dm.responseArea.verticalSpacing}"></div>
					</tr>

					<tr class="top likert-label" ng-style="{'font-size': question.labelFontSize}" ng-if="question.topLabelsAreSpacious">
					  <td ng-repeat="label in question.topLabels track by $index" colspan="4">{{label}}</td>
					</tr>
					<tr class="top likert-label" ng-style="{'font-size': question.labelFontSize}" ng-if="!question.topLabelsAreSpacious">
					  <td></td>
					  <td ng-repeat="label in question.topLabels track by $index" colspan="2">{{label}}</td>
					  <td></td>
					  <div ng-style="{'padding-bottom': page.dm.responseArea.verticalSpacing}"></div>
					</tr>

					<tr>
					  <td></td>
					  <td  ng-repeat="level in question.levels track by $index" colspan="2">
						<a href="#" ng-click="choose(parentIndex)" ng-controller="LikertChoiceController" ng-if="level !== ''">
						  <img ng-if="!page.dm.responseArea.useEmoticons" ng-src="{{btnSrc($index)}}" class="likert-button"/>
						  <img ng-if="!!page.dm.responseArea.useEmoticons" ng-src="{{btnSrc($index)}}" width="80px" height="80px" ng-class={likertborder:chosen()} />
						</a>
						<!--<input type="radio" ng-model="$parent.selected" ng-value="level">-->
					  </td>
					  <td></td>
					  <div ng-style="{'padding-bottom': page.dm.responseArea.verticalSpacing}"></div>
					</tr>

					<tr class="bot likert-label" ng-style="{'font-size': question.labelFontSize}" ng-if="question.bottomLabelsAreSpacious">
					  <td ng-repeat="label in question.bottomLabels track by $index" colspan="4">{{label}}</td>
					</tr>
					<tr class="bot likert-label" ng-style="{'font-size': question.labelFontSize}" ng-if="!question.bottomLabelsAreSpacious">
					  <td></td>
					  <td ng-repeat="label in question.bottomLabels track by $index" colspan="2">{{label}}</td>
					  <td></td>
					  <div ng-style="{'padding-bottom': page.dm.responseArea.verticalSpacing}"></div>
					</tr>

			  </table>
			</div>
      <p class="bot primary likert-label" ng-if="!!(page.dm.responseArea.centerLabelBelow)"> {{page.dm.responseArea.centerLabelBelow}}</p>
    </form>
  </div>
</div>
