
<!-- Tasks ng-if="tasks.numOngoing() !== 0"-->
<div class="active-tasks-container" ng-if="tasks.numOngoing() !== 0 && !tasks.hidden">
  <div class="active-tasks-panel panel panel-default">
    <div class="panel-heading text-left">
      <strong>Active Tasks</strong>
      <span class="pull-right" ng-click="tasks.hide()"><i class="ion-close"></i></span>
    </div>
    <div class="panel-body text-left">
      <div ng-repeat="(task, msg) in tasks.list" class="row">
        <div class="col-xs-12">{{msg}}</div>
      </div>
      <div class="row" ng-if="file.downloadInProgress">
        <div class="col-xs-6">
          <button class="btn btn-default" ng-click="file.abort()">Cancel Download</button>
        </div>
      </div>
    </div>
  </div>
</div>
