body {
    /*margin: 0;*/
    font-size: 150%;
    /*min-height: 740px;*/
    background: rgb(215, 215, 215);
    font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;

    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}


/* slide outline */

.step {
    /*position: relative;*/
    width: 800px;
    height: 650px;

    padding: 20px 80px;
    margin: auto auto;
    
    /* change to 0.3*/
    opacity: 0.8;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}

.step.active {
    opacity: 1 
}

/* title slide */
#step-1 {
    text-align: center;
}

#step-1 h1 {
    padding-top: 50px;
    font-size: 175%;
}

/* Slide THemes */


div#c, div#c1, div#c2, div#c3, div#c4 {
    opacity: 0;
}

div#sec h1, div#sec1 h1, div#sec2 h1, div#sec3 h1, div#sec4 h1 {
    text-align: center;
    padding-top: 200px;
}

div#sec, div#sec1, div#sec2, div#sec3, div#sec4 {
    text-align: center;
}

/* header colors */
h1 {
    color: #770205;
    /*padding-bottom: 10px;*/
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: -20px;
}

/* link colors */
a,
a:visited {
    color: #770205;
    text-decoration: underline;
}


/* Lists */

dd {
    font-size: 90%;
    margin-left: 0px;
}

dl {
    margin-top: 10px;
    margin-bottom:10px;
}

li {
    padding-top: 7px;
}

/* images  */

img {
    padding: 10px;
}

/* tables */

table p {
    margin: 10px 0px;
}

td {
    padding: 0px 10px;
    vertical-align: top;
}


/* slide specific classes */


.title-image-left {
    padding-bottom: 30px;
    padding-right: 120px;
}

.title-image-right {
    padding-bottom: 20px;
    padding-left: 120px;
}

.two-image-left {
    padding-right: 80px;
}

.two-image-right {
    padding-left: 80px;
}

.centered {
    text-align: center;
}

.centered-wide {
    text-align: center;
    margin-left: -20px;
    margin-right: -20px;
}

.vertical-center {
    vertical-align: middle;
}

.raise-20 {
    margin-top: -20px;
}

.raise-40 {
    margin-top: -40px;
}

.raise-60 {
    margin-top: -60px;
}

.raise-80 {
    margin-top: -80px;
}

.pad-bottom-80 {
    padding-bottom: 80px;
}


.p-lg {
    font-size: 120%;
}