<div ng-if="chaExams.examProperties.UseSoftwareButton" style="text-align: center; vertical-align: middle">
  <br>
  <button ng-class="btnClass"
        my-touchstart="pressSoftwareButtonStart()"
        my-touchend="pressSoftwareButtonEnd()">
    {{btnText[btnState]}}
  </button>
  <br>
</div>
