<div class="modal-header">
    <div class="modal-title">

        <button type="button" ng-disabled="tasks.disabled" class="btn btn-sm btn-success" ng-if="uploadable()&&!disk.preventUploads" ng-click="upload()">
          <i class="ion-upload"></i> Upload
        </button>

        <button type="button" ng-if="!disk.preventExports" ng-disabled="tasks.disabled" class="btn btn-sm btn-primary" ng-click="export()">
          <span class="glyphicon glyphicon-floppy-disk"></span> Export
        </button>

        <button type="button" ng-disabled="tasks.disabled" class="btn btn-sm btn-danger" ng-click="delete()">
          <span class="glyphicon glyphicon-remove"></span> Delete 
          </button>

        <!-- this doesn't line up right -->
        <button type="button" ng-disabled="tasks.disabled" class="btn btn-default pull-right" ng-click="close()">
           <i class="ion ion-ios-close-outline"></i> Close
        </button>
    </div>

</div>

<div class="modal-body">
  <json-formatter json="results.singleResultView" open="1"></json-formatter>
</div>


