<div ng-controller="ButtonGridResponseAreaCtrl">
  <div class="button-grid">
    <table>
      <tr ng-repeat="row in rows">
        <td ng-repeat = "choice in row.choices" >
          <div ng-controller="BasicChoiceController" ng-style="{{spacing}}">
            <button type="button" ng-class="
            {
                  'btn btn-default btn-block':true,
                  'btn-default active' : (!gradeResponse && !showCorrect) && chosen(),
                  'btn-disabled' : gradeResponse || showCorrect|| buttonDisabled,
                  'btn-success' : (gradeResponse || showCorrect) && chosen() && isCorrect(),
                  'btn-danger' : (gradeResponse || showCorrect) && chosen() && !isCorrect(),
                  'btn-faded' : showCorrect && !isCorrect() && !chosen()|| buttonDisabled
                } 
          " ng-bind="label" ng-click="choose()" name="{{label}}"></button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>