<div ng-controller="AudiometryTableCtrl">

  <div class="cha-results" ng-if="resultsList">
    <div >
      <table class="audiogram-table">
        <tr>
          <td><b>Ear</b></td>
          <td><b>Frequency<br />(Hz)</b></td>
          <td><b>Results<br />(dB HL)</b></td>

          <!-- SLM Columns -->
          <td ng-if="page.dm.responseArea.showSLMNoise"><b>   SLM L<sub>Fc</sub>   <br />(dB SPL)</b></td>
          <td ng-if="page.dm.responseArea.showSLMNoise"><b>   SLM LA<sub>eq</sub>   <br />(dB SPL)</b></td>

          <!-- Svantek Columns -->
          <td ng-if="page.dm.responseArea.showSvantek"><b>   Dosimeter L<sub>Fc</sub>   <br />(dB SPL)</b></td>
          <td ng-if="page.dm.responseArea.showSvantek"><b>   Dosimeter LA<sub>eq</sub>   <br />(dB SPL)</b></td>
        </tr>

        <tr ng-repeat="result in resultsList">
          <td>{{result.examProperties.OutputChannel === 'HPL0' ? 'L' : 'R'}}</td>
          <td>
            <span ng-if="result.examType === 'BekesyFrequency' || result.examType === 'HughsonWestlakeFrequency'">{{result.examProperties.Level}} {{result.examProperties.LevelUnits}}</span>
            <span ng-if="result.examType === 'BekesyLike' || result.examType === 'HughsonWestlake'">{{result.examProperties.F}}</span>
          </td>
          <td>
            <span ng-if="!result.examProperties.Screener">{{result.Threshold}}</span>
            <span ng-if="result.examProperties.Screener">{{result.ResultType}}</span>
          </td>

          <!-- SLM Columns -->
          <td ng-if="page.dm.responseArea.showSLMNoise"> <span ng-if="result.slm.bandLevel">{{result.slm.bandLevel.toPrecision(3)}}</span></td>
          <td ng-if="page.dm.responseArea.showSLMNoise"> <span ng-if="result.slm.LeqA">{{result.slm.LeqA.toPrecision(3)}}</span></td>

          <!-- Svantek Columns -->
          <td ng-if="page.dm.responseArea.showSvantek"> <span ng-if="result.svantek.bandLevel">{{result.svantek.bandLevel.toPrecision(3)}}</span></td>
          <td ng-if="page.dm.responseArea.showSvantek"> <span ng-if="result.svantek.LeqA">{{result.svantek.LeqA.toPrecision(3)}}</span></td>
        </tr>

      </table>
      <br>
    </div>
  </div>


</div>
