<div class="cha-info">
  <div class="row pad-top" >
    <div class="col-xs-4"><b>WAHTS</b></div>
  </div>

  <div class="row pad-top" >
    <div class="col-xs-4">Name:</div>
    <div class="col-xs-8">{{cha.info.name}}</div>
  </div>

  <!-- Connected Cha Description -->
  <div class="row pad-top">
    <div class="col-xs-4">Description:</div>
    <div class="col-xs-8">{{cha.info.id.description}}</div>
  </div>

  <!-- Connected Cha Firmware-->
  <div class="row pad-top">
    <div class="col-xs-4">Firmware:</div>
    <div class="col-xs-8">{{cha.info.id.buildDateTime}}</div>
  </div>

  <!-- Connected Cha Serial-->
  <div class="row pad-top">
    <div class="col-xs-4">Serial number:</div>
    <div class="col-xs-8">{{cha.info.id.serialNumber}}</div>
  </div>

  <!-- Battery Level-->
  <div class="row pad-top">
    <div class="col-xs-4">Battery Level:</div>
    <div class="col-xs-4">
      <span class="cha-battery-border" ng-style="{'width': cha.info.batteryIndicatorWidth+'%'}">
        <div ng-if="cha.info.battery.status() === 'Good'" class="cha-battery-status" ng-style="{'width': cha.info.battery.level()+'%', 'background-color': 'green'}"></div>
        <div ng-if="cha.info.battery.status() === 'Satisfactory'" class="cha-battery-status" ng-style="{'width': cha.info.battery.level()+'%', 'background-color': 'orange'}"></div>
        <div ng-if="cha.info.battery.status() === 'Low'" class="cha-battery-status" ng-style="{'width': cha.info.battery.level()+'%', 'background-color': 'red'}"></div>
      </span>

    </div>
    <div class="col-xs-4"><small>{{cha.info.battery.status()}} {{cha.info.vBattery | number:2}}V </small></div>
  </div>

</div>
