<div ng-controller="CheckboxResponseAreaCtrl">
  <span class="multi-choice-container">
  <div class="row" ng-repeat="choice in choices">
    <div ng-controller="CheckboxChoiceController" ng-style="{{spacing}}">
      <button type="button" ng-class="btnClass()" ng-bind="label" ng-click="choose()" name="{{label}}" ></button>
    </div>
  </div>
  <div class="row" ng-if="enableOtherText">
    <span class="glyphicon glyphicon-arrow-right"></span>
    <input type="text" enter-close name="Other"
           ng-model="page.result.otherResponse"
           autofocus="true">
    <p style="margin-bottom: 200px"></p>
  </div>
  </span>

</div>
