<div ng-controller="SeeSawResponseAreaCtrl">
  <div class="row seesaw">
    <table>
      <tr class="seesaw-header">
        <td style="text-align:left; padding-left:10px;padding-right:10px;">{{page.dm.responseArea.leftHeader}}</td>
        <td style="text-align:right; padding-left:10px;padding-right:10px;">{{page.dm.responseArea.rightHeader}}</td>
      </tr>
    </table>
    <table>
      <tr class="seesaw-label" ng-repeat="i in [0,1,2,3,4]">
        <td class="seesaw-l" style="padding-left: 10px; padding-right: 10px" >{{page.dm.responseArea.leftLabels[i]}}</td>
        <td class="seesaw-l" style="width:20px; text-align:center">
          <a href="#" ng-controller="SeeSawResponseAreaCtrl" >
            <img ng-src="{{btnSrc('L')}}" ng-click="choose('L')" />
          </a>
          <!--<input type="radio" ng-model="page.result.response" value="{{i}}">-->
        </td>
        <td rowspan="6" class="seesaw-image-container" ng-if="i==0">
          <img ng-src="img/see-saw-{{page.result.response}}.png" class="seesaw-image">
        </td>
        <td class="seesaw-r" style="width:20px; text-align:center">
          <a href="#" ng-controller="SeeSawResponseAreaCtrl" >
            <img ng-src="{{btnSrc('R')}}" ng-click="choose('R')" />
          </a>
          <!--<input type="radio" ng-model="page.result.response" value="{{4-i}}">-->
        </td>
        <td class="seesaw-r" style="padding-left: 10px; padding-right: 10px" >{{page.dm.responseArea.rightLabels[i]}}</td>
      <tr class="seesaw-footer">
    </table>

  </div>
</div>
