
<br>

<uib-accordion close-others="false">


  <!-- General Configuration  -->
  <div uib-accordion-group class="panel panel-default" heading="{{'TabSINT'| translate}}" is-open="adminLogic.panes.config.general">
    <div class="panel-body text-left">

      <!-- Headset -->
      <div class="row pad-top">
        <div class="col-xs-5" translate>Default Headset: </div>
        <div class="col-xs-4">
          <span class="dropdown" uib-dropdown id="headset-dropdown">
            <button type="button" class="btn btn-default btn-block dropdown-toggle" uib-dropdown-toggle ng-if="headsets[disk.headset]">
              {{headsets[disk.headset] || 'None'}} <span class="caret" style="margin-left: 10px"></span>
            </button>
            <button type="button" class="btn btn-default btn-block dropdown-toggle" uib-dropdown-toggle ng-if="headsets[disk.headset]===undefined || headsets[disk.headset]==='None'">
                None <span class="caret" style="margin-left: 10px"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li ng-repeat="(headsetID, headsetDisplay) in headsets"><a href="#" ng-click="changeHeadset(headsetID)">{{headsetDisplay}}</a></li>
            </ul>
          </span>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1" uib-popover-html="headsetPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
      </div>

      <!-- Select Language -->
      <div class="row pad-top">
        <div class="col-xs-5" translate> Select Language:</div>
        <div class="col-xs-4">
          <span class="dropdown" uib-dropdown id="language-dropdown">
            <button type="button" class="btn btn-default btn-block dropdown-toggle" uib-dropdown-toggle ng-if="languages[disk.language]">
                {{languages[disk.language]|translate}}<span class="caret" style="margin-left: 10px"></span>
            </button>
            <button type="button" class="btn btn-default btn-block dropdown-toggle" uib-dropdown-toggle ng-if="languages[disk.language] === undefined">
                English<span class="caret" style="margin-left: 10px"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-repeat="(languageID, languageDisplay) in languages"><a href="#" ng-click="changeLanguage(languageID)">{{languageDisplay|translate}}</a></li>
            </ul>
          </span>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1" uib-popover-html="languagePopover|translate" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
      </div>

      <!-- Show Advanced -->
      <div class="row pad-top">
        <div class="col-xs-12"><a ng-click="adminLogic.panes.config.advanced = !adminLogic.panes.config.advanced">
            <div ng-if="adminLogic.panes.config.advanced" translate>Hide Advanced Settings</div>
            <div ng-if="!adminLogic.panes.config.advanced" translate>Show Advanced Settings</div></a></div>
      </div>

      <div ng-if="adminLogic.panes.config.advanced">

        <hr>

        <div class="row pad-top" >
          <div class="col-xs-12"><strong>Preferences</strong></div>
        </div>

        <!-- Admin Mode -->
        <div class="row pad-top">
          <div class="col-xs-6" translate> Admin Mode: </div>
          <div class="col-xs-2"> <input type="checkbox" ng-model="disk.debugMode" ng-change="adminLogic.toggleDebugMode()"> </div>
          <div class="col-xs-2"></div>
          <div class="col-xs-1" uib-popover-html="adminPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
        </div>

        <div class="row pad-top">
          <div class="col-xs-6"> Admin PIN:</div>
          <div class="col-xs-2"> {{disk.pin}}</div>
          <div class="col-xs-1" ng-click="changePin.editAdminPin()"><i class="ion-edit"></i></div>
          <div class="col-xs-1"></div>
          <div class="col-xs-1" uib-popover-html="adminPinPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
        </div>

        <!-- External Control Mode -->
        <div ng-if="disk.appDeveloperMode">
          <div class="row pad-top">
            <div class="col-xs-6" translate> External Control Mode: </div>
            <div class="col-xs-2"> <input type="checkbox" ng-model="disk.externalMode" ng-change="adminLogic.toggleExternalMode()"> </div>
            <div class="col-xs-2"> </div>
            <div class="col-xs-1" uib-popover-html="externalControlPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
          </div>
        </div>

        <!-- Disable Logs -->
        <div class="row pad-top">
          <div class="col-xs-6" translate> Disable Logs: </div>
          <div class="col-xs-2"> <input type="checkbox" ng-model="disk.disableLogs" ng-change="adminLogic.toggleDisableLogs()"> </div>
          <div class="col-xs-2"> </div>
          <div class="col-xs-1" uib-popover-html="disableLogsPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
        </div>

        <!-- Disable Automatic Volume Control -->
        <div class="row pad-top">
          <div class="col-xs-6" translate> Disable Automatic Volume Control: </div>
          <div class="col-xs-2"> <input type="checkbox" ng-model="disk.disableVolume" ng-change="adminLogic.toggleDisableVolume()"> </div>
          <div class="col-xs-2"> </div>
          <div class="col-xs-1" uib-popover-html="disableVolumePopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
        </div>

        <!-- Enable Admin Skip -->
        <div class="row pad-top">
          <div class="col-xs-6" translate> Enable Skip in Exams: </div>
          <div class="col-xs-2"> <input type="checkbox" ng-model="disk.adminSkipMode" ng-change="adminLogic.toggleAdminSkipMode()"> </div>
          <div class="col-xs-2"> </div>
          <div class="col-xs-1" uib-popover-html="adminSkipModeControlPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
        </div>

        <hr>

        <div class="row pad-top" >
          <div class="col-xs-12"><strong>Results Preferences</strong></div>
        </div>

        <div class="row pad-top">
          <div class="col-xs-6">{{'Automatically output test results'|translate}}:</div>
          <div class="col-xs-2"><input type="checkbox" ng-model="disk.autoUpload" ng-change="toggleAutoUpload()"/></div>
          <div class="col-xs-2"> </div>
          <div class="col-xs-1" uib-popover-html="automaticallyOutpuResultsPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
        </div>

        <!-- HG, To prevent accidental Exports, also allows git protocols to run as local only -->
        <div class="row pad-top">
          <div class="col-xs-6">Results Mode: </div>
          <div class="col-xs-6">
            <span class="dropdown" uib-dropdown id="resultsMode-dropdown">
              <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
              {{resultsModeOptions[disk.resultsMode]}} <span class="caret" style="margin-left: 10px"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu>
              <li ng-repeat="(resultsModeID, resultsModeDisplay) in resultsModeOptions"><a href="#" ng-click="changeResultsMode(resultsModeID)">{{resultsModeDisplay}}</a></li>
              </ul>
            </span>
          </div>
        </div>


        <div class="row pad-top">
          <div class="col-xs-6">{{'Export Results as CSV to SD Card'|translate}} <em>(beta)</em>:</div>
          <div class="col-xs-2"><input type="checkbox" ng-model="disk.exportCSV" /></div>
        </div>

        <div class="row pad-top">
          <div class="col-xs-6">{{'Local Results Directory'|translate}}:</div>
          <div class="col-xs-5"><em>{{disk.servers.localServer.resultsDir}}</em></div>
          <!-- <div class="col-xs-2">{{disk.servers.localServer.resultsDir}}</em></div> -->
        </div>
        <div class="row pad-top">
          <div class="col-xs-6"></div>
          <div class="col-xs-6">
            <button class="btn btn-default btn-block" ng-click="localServer.changeResultsDirectory()">{{'Change Directory'|translate}}</button>
          </div>
        </div>
		
  		  <br>

        <hr>

        <div class="row pad-top" >
          <div class="col-xs-12"><strong>Calibration</strong></div>
        </div>

        <!-- Tablet Gain -->
        <div class="row pad-top">
          <div class="col-xs-6" translate> Tablet Gain </div>
          <div class="col-xs-2"> <input type="number" enter-close class="form-control" ng-model="disk.tabletGain"> </div>
          <div class="col-xs-1" ng-click="disk.tabletGain = -disk.tabletGain"><i class="ion-minus"></i></div>
          <div class="col-xs-1" ng-click="gain.reset()"><i class="ion-refresh"></i></div>
          <div class="col-xs-1" uib-popover-html="gainPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
        </div>
        </div>

        <!-- Calibration -->
        <div class="row pad-top">
          <div class="col-xs-6">
            <button type="button" ng-disabled="tasks.disabled" class="btn btn-block btn-primary" ng-click="play1kHz94dB()">
              <span class="glyphicon glyphicon-play-circle"></span> 1 kHz <em>94</em> dB
            </button>
          </div>
          <div class="col-xs-6">
            <button type="button" ng-disabled="tasks.disabled" class="btn btn-block btn-primary" ng-click="playCompAudio()">
              <span class="glyphicon glyphicon-play-circle"></span> CompAudioTestLog
            </button>
          </div>
        </div>
        <div class="row pad-top"><div class="col-xs-7">
          <button type="button" ng-disabled="tasks.disabled" class="btn btn-block btn-primary" ng-click="playCompAudioLinear()">
            <span class="glyphicon glyphicon-play-circle"></span> CompAudioTestLinear
          </button>
        </div></div>

      </div>
    </div>
  </div>

  <!-- WAHTS -->
  <div uib-accordion-group class="panel panel-default" heading="{{'WAHTS'|translate}}" is-open="adminLogic.panes.config.cha">
    <cha-admin></cha-admin>
  </div>

  <!-- Svantek Dosimeter -->
  <div uib-accordion-group class="panel panel-default" heading="{{'Dosimeter'|translate}}" is-open="adminLogic.panes.config.svantek">
    <svantek-admin></svantek-admin>
  </div>

  <!--Inter-App Communication-->
  <div uib-accordion-group class="panel panel-default" heading="{{'Communicate With Other Apps'|translate}}"  ng-if="disk.appDeveloperMode" is-open="adminLogic.panes.interapp">
    <div class="panel-body text-left">

      <!-- App Name -->
      <div class="row pad-top">
        <div class="col-xs-4">App Name: </div>
        <div class="col-xs-6"> <input type="text" enter-close class="form-control" placeholder="app name" ng-model="disk.interApp.appName"></div>
        <div class="col-xs-1" uib-popover-html="interAppNamePopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
      </div>

      <!-- Message -->
      <div class="row pad-top">
        <div class="col-xs-4">Message: </div>
        <div class="col-xs-6"> <input type="text" enter-close class="form-control" placeholder="message" ng-model="disk.interApp.dataOut.message"></div>
        <div class="col-xs-1" uib-popover-html="interAppMessagePopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
      </div>

      <!-- Data -->
      <div class="row pad-top">
        <div class="col-xs-4">Data:</div>
        <div class="col-xs-6"><input type="text" enter-close class="form-control" placeholder="data" ng-model="disk.interApp.dataOut.data"></div>
        <div class="col-xs-1" uib-popover-html="interAppDataPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
      </div>

      <!-- Send -->
      <div class="row pad-top">
        <div class="col-xs-4"></div>
        <div class="col-xs-6">
          <button type="button" ng-disabled="tasks.disabled" class="btn btn-block btn-primary" ng-click="adminLogic.sendInterAppData()">Send</button>
        </div>
        <div class="col-xs-1" uib-popover-html="interAppSendPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
      </div>

      <!-- Last Received Message -->
      <div class="row pad-top">
        <div class="col-xs-10"><strong>Last Received</strong></div>
        <div class="col-xs-1" uib-popover-html="interAppLastMessagePopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
      </div>
      <div class="row pad-top" ng-repeat="(key, value) in disk.interApp.dataIn">
        <div class="col-xs-4">{{key}}:</div>
        <div class="col-xs-7">{{value}}</div>
      </div>
    </div>
  </div>

  <!-- Plugins -->
  <div ng-repeat="panel in plugins.elems.adminPanels" uib-accordion-group class="panel panel-default plugin-panel" is-open="adminLogic.panes.config[panel.title]">
    <div class="panel-heading text-left">
      <i class="ion-outlet" ></i>
      <strong style="padding-left: 5px">{{panel.title}}</strong>
    </div>
    <ng-include src="panel.templateUrl"/>
  </div>

  <!-- Software and Hardware Status -->
  <div uib-accordion-group class="panel panel-default" heading="{{'Software and Hardware'|translate}}" is-open="adminLogic.panes.config.software">
    <div class="panel-body text-left">

      <div class="row pad-top" translate>
        <div class="col-xs-12">
          TabSINT is developed by <a href="https://www.creare.com/">Creare</a> and available open source on <a href="https://gitlab.com/creare-com/tabsint">gitlab.com/creare-com/tabsint</a>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-xs-12"><strong>{{'Version'|translate}}</strong></div>
      </div>

      <div class="row">
        <div class="col-xs-12">TabSINT: <em>{{version.dm.tabsint}}</em> </div>
      </div>
      <div class="row" ng-click="adminLogic.toggleAppDeveloperMode()">
        <div class="col-xs-12">{{'Build Name'|translate}}: <em>{{config.build}}</em></div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-if="disk.appDeveloperMode">
          - App-Developer Mode is on  <button class="btn btn-default" ng-click="adminLogic.toggleAppDeveloperMode()">Turn Off</button>
        </div>
        <div class="col-xs-12" ng-if="!disk.appDeveloperMode && disk.appDeveloperModeCount > 1">
          - Tap {{5-disk.appDeveloperModeCount}} more times to turn on App-Developer Mode
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">{{'Build Date'|translate}}: <em>{{version.dm.date | date: 'yyyy-MM-dd HH:mm:ss'}}</em></div>
      </div>

      <br>

      <div class="row">
        <div class="col-xs-12"><strong>{{'Device'|translate}}</strong></div>
      </div>

      <div class="row">
        <div class="col-xs-12">{{'Device UUID'|translate}}: <em>{{devices.UUID}}</em></div>
      </div>
      <div class="row">
        <div class="col-xs-12">{{'Device Model'|translate}}: <em>{{devices.model}}</em></div>
      </div>
      <div class="row">
        <div class="col-xs-12">{{'Operating System'|translate}}: <em>{{devices.platform}} {{devices.version}}</em></div>
      </div>
      <div class="row">
        <div class="col-xs-12">{{'Free Disk Space'|translate}}: <em>{{devices.diskSpace}} MB</em></div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          {{'Network Status'|translate}}: <span ng-if="networkModel.status"><em>{{'Online'|translate}}</em></span> <span ng-if="!networkModel.status"><em>{{'Offline'|translate}}</em></span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {{'Network Type'|translate}}: <em>{{networkModel.type}}</em>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-xs-12"><strong>{{'Plugins'|translate}}</strong></div>
      </div>

      <div class="row" ng-repeat="(key, value) in config.tabsintPlugins">
        <div class="col-xs-12">{{key}}: <em>{{value.version}}</em></div>
      </div>

      <br>

      <div class="row">
        <div class="col-xs-12"><strong>{{'Build Details'|translate}}</strong></div>
      </div>

      <div class="row">
        <div class="col-xs-12">{{'Cordova Version'|translate}}: <em>{{version.dm.deps.cordova}}</em></div>
      </div>
      <div class="row">
        <div class="col-xs-12">{{'Node Version'|translate}}: <em>{{version.dm.deps.node}}</em></div>
      </div>
      <div class="row">
        <div class="col-xs-12">{{'Build System'|translate}}: <em>{{version.dm.deps.user_agent}}</em></div>
      </div>

      <br>

      <div class="row">
        <div class="col-xs-12"><strong>{{'Update TabSINT'|translate}}</strong></div>
      </div>

      <div class="row pad-top">
        <div class="col-xs-10">
          <a ng-click="viewReleases()">{{'View Releases'|translate}}</a>
        </div>
      </div>

      <div class="row pad-top" ng-if="latestRelease" ng-style="tasks.disabled ? {opacity: 0.5}: {}">
        <div class="col-xs-10" ng-click="getLatestRelease()"><a> <i class="ion-android-download"></i> {{'Latest Release'|translate}}: {{latestRelease}} </a></div>
        <div class="col-xs-1" uib-popover-html="latestReleasePopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
      </div>
    </div>
  </div>

  <!-- Log view -->
  <div uib-accordion-group class="panel panel-default" heading="{{'Application Log'|translate}}" is-open="adminLogic.panes.config.logs">
    <div class="panel-body text-left">

      <div class="row">
        <div class="col-xs-12">{{'Number of log messages'|translate}}: {{logs.count.newlogs}}</div>
      </div>
      <div class="row pad-top">
        <div class="col-xs-4">
          <button ng-disabled="tasks.disabled" class="btn btn-block btn-success" ng-click="logExport.upload(true)"><i class="ion-upload"></i> {{'Upload'|translate}}</button>
        </div>
        <div class="col-xs-4">
          <button ng-disabled="tasks.disabled" class="btn btn-block btn-primary"  ng-click="logExport.save(true)"><span class="glyphicon glyphicon-floppy-disk"></span> {{'Export'|translate}}</button>
        </div>
        <div class="col-xs-4">
          <button ng-disabled="tasks.disabled" class="btn btn-block btn-default" ng-click="displayLogs()"><i class="ion-document-text"></i> {{'Display'|translate}}</button>
        </div>
      </div>

      <div class="row pad-top" ng-if="logs.show">
        <div class="col-xs-12">
          <div class="well admin-log-display">
            <div ng-repeat="log in logs.disp.slice(0, logs.nLogs)">
              <div class="row">

                <!-- <div class="col-xs-1"></div> -->
                <div class="col-xs-12"><strong>[{{log.date.split(' ')[1]}}]</strong>: {{log.data}} </div>
              </div>
            </div>
            <div class="row" ng-if="logs.disp.length - logs.nLogs > 0">
              <div class="col-xs-6">({{logs.disp.length - logs.nLogs}} not shown) </div>
              <div class="col-xs-6"><button type="button" class="btn btn-default btn-block" ng-click="logs.nLogs = logs.nLogs+50"> + 50</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</uib-accordion>
