<!--
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->
<div class="disclaimer">
  <div class="disclaimer-heading text-center">
    Welcome to <strong>TabSINT</strong>
    <br>
    <img src="img/logo.png" style="max-width: 25%">
  </div>

  <div class="disclaimer-body">
    TabSINT is an open source platform for administering tablet based hearing-related tests, as well as general-purpose questionnaires. It is meant to be flexible, easy-to-use, and useful for administrators who manage studies of all sizes.<br><br>

    TabSINT is developed by <a href="https://www.creare.com/">Creare</a> and available open source on <a href="https://gitlab.com/creare-com/tabsint">Gitlab</a>.
  </div>

  <hr>

  <div class="disclaimer-release">
    Code and documentation Copyright &copy; 2015-2018 Creare LLC. Code released under the Apache v2 License, provided in <a href="https://gitlab.com/creare-com/tabsint/blob/master/LICENSE">LICENSE</a>. All rights reserved. License agreements for the open source libraries used in this project can be found in <a href="https://gitlab.com/creare-com/tabsint/blob/master/NOTICE.md">NOTICE.</a><br><br>

    Creare has used commercially reasonable efforts in preparing the TabSINT Software but makes no guarantee or warranty of any nature with regard to its use, performance, or operation.<br><br>

    Creare makes no representations or warranties, and Creare shall incur no liability or other obligation of any nature whatsoever to any person from any and all actions arising from the use of this software. THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE HEREBY EXPRESSLY EXCLUDED. The final responsibility for the proper use and functioning of the TabSINT Software shall rest solely with the user upon receipt.
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-block btn-primary" ng-click="ok()">Continue</button>
  </div>
</div>
