
<div ng-if="chaExams.state === 'exam'">

  <div style="text-align: center; vertical-align: middle">
    <button type="button" class="button btn btn-default" ng-click="stopTone()">Stop Tone</button>
  </div>

</div>

