<!-- Exam Mode View -->

<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">

      <!-- Exam Header -->
      <div ng-if="isexam" class="col-xs-6 col-sm-8 truncate">
        <span ng-if="page.dm.title && dm.state.mode !== 'READY'" class="surveytitle">
          {{page.dm.title}}
        </span>
      </div>

      <!-- Admin Header -->
      <div ng-if="!isexam" class="col-xs-6 col-sm-8 truncate">
        <span class="surveytitle">
          <ng-transclude></ng-transclude>
        </span>
      </div>


      <div class="text-right text-nowrap col-xs-6 col-sm-4">

        <!-- resource indicators -->
        <indicators></indicators>

        <!-- task list -->
        <a class="surveytitle task-toggle" ng-if="tasks.numOngoing() > 0 && tasks.hidden">
          <span ng-click="tasks.unhide()"><i class="ion-clipboard"></i></span>
        </a>

        <!-- dropdown -->
        <span class="dropdown" uib-dropdown>
          <a class="surveytitle dropdown-toggle" uib-dropdown-toggle>
            &nbsp;
            <span class="glyphicon glyphicon-align-justify"></span>
          </a>
          <ul class="dropdown-menu dropdown-nav dropdown-pull-right" uib-dropdown-menu>
            <li><a href="#" ng-click="switchToExamView()"><i class="ion-edit"></i> {{'Exam View'|translate}}</a></li>
            <li><a href="#" ng-click="switchToAdminView()"><i class="ion-ios-gear"></i> {{'Admin View'|translate}}</a></li>
            <li><a href="#" ng-click="router.goto('DOCS')"><i class="ion-help-buoy"></i> {{'Documentation'|translate}} </a></li>

            <li ng-if='isexam' class="divider"></li>

            <li ng-if='isexam'><a href="#" ng-click="resetExam()"><i class="ion-close"></i> {{'Reset Exam and Discard Results'|translate}}</a></li>

            <li ng-if='isexam' class="divider"></li>

            <li ng-if='isexam'><a href="#" ng-click="submitPartialExam()"><i class="ion-refresh"></i> {{'Reset Exam and Submit Partial Results'|translate}}</a></li>

            <li ng-if='isexam' ng-if="page.dm.navMenu" class="divider"></li>
            <li ng-if='isexam' ng-repeat="navOption in page.dm.navMenu">
              <a href="#" ng-click="navigateToTarget(navOption)">{{navOption.text}}</a>
            </li>
          </ul>

          </ul>
        </span>

      </div>
    </div>

  </div>
</nav>
