<div ng-controller="NatoResponseAreaCtrl as vm">

  <div ng-if="vm.state === 'preparing'">
    <p>Preparing to start recording...</p>
  </div>

  <div ng-if="vm.state === 'ready'">
    <!-- <p>Press <strong>Start Recording</strong> then read the sentence out loud</p> -->

    <p class="nato-sentence"><strong>{{vm.sentence}}</strong></p> <!-- Optionally set this to specific text. -->
    <br>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-block btn-lg btn-default" ng-click="vm.record()">
          <span class="glyphicon glyphicon-record"></span> Start Recording
        </button>
      </div>
    </div>
  </div>


  <div ng-if="vm.state === 'error'">
    <p>The tablet encountered an error: </p> <br>
    
    {{vm.error}} <br><br>

    <P>Please continue with the test.</P>
  </div>


  <div ng-if="vm.state === 'recording'"">
    <p class="nato-sentence"><strong>{{vm.sentence}}</strong></p> <!-- Optionally set this to specific text. -->

    <br>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-block btn-lg btn-danger" ng-click="vm.stopRecording()">
          <span class="glyphicon glyphicon-stop"></span> Stop Recording
        </button>
      </div>
    </div>
  </div>

  <div ng-if="vm.state === 'recorded' || vm.state === 'playing'">
    <p>Successfully recorded audio</p>

    <br>

    <div class="row" ng-if="!vm.autoPlay">
      <div class="col-xs-6">
        <button class="btn btn-block btn-lg btn-primary" ng-click="vm.play()">
          <span class="glyphicon glyphicon-play-circle"></span> Play
        </button>
      </div>

      <div class="col-xs-6">
        <button class="btn btn-block btn-lg btn-danger" ng-click="vm.stopPlaying()">
          <span class="glyphicon glyphicon-stop"></span> Stop
        </button>
      </div>
    </div>

    <div class="row" ng-if="!vm.autoPlay">
      <br>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-block btn-lg btn-default" ng-click="vm.record()">
          <span class="glyphicon glyphicon-record"></span> Record Again
        </button>
      </div>
    </div>


  </div>
  
</div>
