
/**************
Fonts
**************/
@font-face {
    font-family: 'open_sansregular';
    src: url('./fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*************** 
Body
***************/

body {
    font-size: 150%;
    font-family: "open_sansregular","Helvetica Neue",Helvetica,Arial,sans-serif;

    background: #EDEDED;
    /*rgb(215, 215, 215);*/
}


/*************** 
Slide Outline 
***************/

.step {
    /*position: relative;*/
    width: 900px;
    height: 650px;

    padding: 30px 100px;
    margin: auto auto;
    
    /* change to 0.3*/
    opacity: 0.7;

    background-color: white;
    /*border: 1px solid rgba(0, 0, 0, .3);*/
    border-radius: 10px;
    /*box-shadow: 0 2px 6px rgba(0, 0, 0, .1);*/
}

.step.active {
    opacity: 1 
}

/*************** 
Title Slide 
***************/

#step-1 {
    text-align: center;
}

#step-1 h1 {
    padding-top: 50px;
    font-size: 175%;
}

/*************** 
Slide Themes 
***************/

div#c, div#c1, div#c2, div#c3, div#c4 {
    opacity: 0;
}

/* Section Title Slides */
div#sec h1, div#sec1 h1, div#sec2 h1, div#sec3 h1, div#sec4 h1 {
    text-align: center;
    padding-top: 200px;
    font-size: 70px;
}

/*************** 
Headers 
***************/
h1 {
    color: #770205;
    /*padding-bottom: 10px;*/
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: -20px;
}

/*************** 
links 
***************/
a,
a:visited {
    color: #770205;
    text-decoration: underline;
}


/*************** 
Lists 
***************/
ul {
    margin-top: 5px;
}

dd {
    font-size: 90%;
    margin-left: 0px;
}

dl {
    margin-top: 10px;
    margin-bottom:10px;
}

li {
    padding-top: 7px;
}

/*************** 
images  
***************/

img {
    margin: 10px;
}

/*************** 
tables 
***************/

table p {
    margin: 10px 0px;
}

td {
    padding: 0px 10px;
    vertical-align: top;
}


/***************
slide specific classes 
***************/

.citation {
    font-size: 50%;
}

.center-block {
    margin-left: 10%;
    margin-right: 10%;
}

.wide {
    margin-left: -40px;
    margin-right: -40px;
}

.elevated {
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}
.no-ul-margin ul {
    margin-top: 3px;
}

.title-image-left {
    padding-bottom: 30px;
    padding-right: 120px;
}

.title-image-right {
    padding-bottom: 20px;
    padding-left: 120px;
}

.two-image-left {
    padding-right: 80px;
}

.two-image-right {
    padding-left: 80px;
}

.centered {
    text-align: center;
}

.vertical-center {
    vertical-align: middle;
}

.raise-20 {
    margin-top: -20px;
}

.raise-40 {
    margin-top: -40px;
}

.raise-60 {
    margin-top: -60px;
}

.raise-80 {
    margin-top: -80px;
}

.lower-20 {
    margin-top: 20px;
}

.lower-40 {
    margin-top: 40px;
}

.lower-60 {
    margin-top: 60px;
}

.lower-80 {
    margin-top: 80px;
}

.pad-bottom-80 {
    padding-bottom: 80px;
}


.p-lg {
    font-size: 120%;
}
