<!--
* Author: VAL
* Date: October 2018
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->
<div class="omt">
    <table>
      <tbody>
      <tr>
        <td width="120"><b>Speaker</b></td>
        <td width="180"><b>Wavefile</b></td>
        <td width="160"><b>Sound Level</b></td>
        <td width="100"></td>
      </tr>
      <tr ng-repeat="item in speakerArray track by $index">
        <td width="120">{{$index+1}}</td>
        <td width="180">
          <div>
            <span class="dropdown" uib-dropdown id="wavefile-dropdown">
              <button type="button" class="btn btn-default btn-block dropdown-toggle" uib-dropdown-toggle>
                {{item.wavefileName}} <span class="caret" style="margin-left: 10px"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-repeat="wavefile in wavefiles"><a href="#" ng-click="changeWavefile($parent.$index, wavefile)">{{wavefile}}</a></li>
              </ul>
            </span>
          </div></td>
        <td width="160"><input enter-close class="form-control" style="font-size: 18pt; display: inline; width: 50%; text-align: center" ng-model="speakerArray[$index].soundLevel"></td>
        <td width="100">
          <button type="button" class="btn btn-default btn-block" ng-click="play($index)">{{item.label}}</button>
        </td>
      </tr>
    </table>

      <div class="row pad-top">
        <button type="button" class="btn btn-default btn-block" ng-click="playAll()" style="width: 180px; margin-left: auto; margin-right: auto">Play All</button>
      </div>

      </tbody>
</div>
