<div class="modal-header">
    Partial Result
</div>

<div class="modal-body">
  <div translate>
    TabSINT found partial test results temporarily stored on disk during startup. It is possible TabSINT shut down improperly in the middle of an exam.
  </div>

  <br>
  <json-formatter json="partialResult" open="1"></json-formatter>  
  <br>
  Would you like to save these partial results to a text file on this device?

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-sm btn-primary" ng-click="save()">{{'Save'|translate}}</button>
  <button type="button" class="btn btn-sm btn-danger" ng-click="discard()">{{'Discard'|translate}}</button>
</div>
