<div>
  <div>
    <table class="crm-table">
      <tr ng-repeat="number in n">
        <td ng-repeat="btncolor in color" ng-style="{{spacing}}">
          <button type="button" ng-style="btnStyle[btncolor]" ng-click="crmchoose(btncolor, number)"
                  ng-class="(btnShowCorrect && response && correctColor===btncolor.toLowerCase() && correctNumber===number)? 'btn btn-default btn-crm-correct':'btn btn-default btn-crm'"
                  ng-disabled="btnsDisabled" ng-bind="btncolor + space + number"></button>
        </td>
      </tr>
    </table>
    <div style="display: flex">
      <div>Presentation {{presentationCount}} / {{nPresentations}}</div>
      <div class="col-xs-3"></div>
      <div ng-if="state==='playing'">
        <button type="button" class="button btn btn-default" style="width: 172px" ng-click="pause()" translate>Pause Exam</button>
      </div>
      <div ng-if="state==='paused' || state==='paused - waiting for resume request'">
          <button type="button" class="button btn btn-default" style="width: 172px" ng-click="play()" translate>Resume Exam</button>
      </div>
    </div>
  </div>
</div>
