



<div class="container" ng-if="(chaExams.examProperties.F || chaExams.examProperties.Level || chaExams.examProperties.OutputChannel)">
  <div ng-if="page.dm.responseArea.hideExamProperties !== 'always'">
    <div class="row" ng-if="chaExams.examProperties.Level">
      <div class="col-xs-3 text-left"></div>
      <div class="col-xs-9 text-left">
        <strong translate>Level:</strong> {{chaExams.examProperties.Level}}
      </div>
    </div>
    <div class="row" ng-if="chaExams.examProperties.F">
      <div class="col-xs-3 text-left"></div>
      <div class="col-xs-9 text-left">
        <strong translate>Frequency:</strong> {{chaExams.examProperties.F}} Hz
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 text-left"></div>
      <div class="col-xs-9 text-left">
        <strong translate>Ear:</strong>
        <span ng-if="!chaExams.examProperties.OutputChannel || chaExams.examProperties.OutputChannel === 'HPL0'" translate>LEFT</span>
        <span ng-if="chaExams.examProperties.OutputChannel === 'HPR0'" translate>RIGHT</span>
      </div>
    </div>
  </div>
</div>
