<!--
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->
<h1> {{'Exam Complete'|translate}} </h1>


<results-warnings></results-warnings>

<h2 ng-if="page.dm.title">{{page.dm.title}}</h2>
<p>{{'Press'|translate}} <strong>{{'New Exam'|translate}}</strong> {{'to restart'|translate}}</p>
<div class="spacer"></div>

<div class="panel panel-info">
  <div class="panel-heading panel-title">
      {{'Exam Details'|translate}}
  </div>
  <div class="panel-body text-left">

    <ul>
      <li>
        <strong>{{'Protocol'|translate}}</strong>: {{results.current.protocolName}}
      </li>
      <li>
        <strong>{{'Started at'|translate}}</strong>: {{results.current.testDateTime | date:'yyyy-M-dd H:mm:ss'}}
      </li>
      <li>
        <strong>{{'Elapsed Time'|translate}}</strong>: {{results.current.elapsedTime}}
      </li>

      <!-- Tabsint Server details -->
      <li ng-if="results.current.siteId">
        <strong>{{'Site ID'|translate}}</strong>: {{results.current.siteId}}
      </li>
      <li ng-if="results.current.qrString">
        <strong>{{'QR String'|translate}}</strong>: {{results.current.qrString}}
      </li>
    </ul>
  </div>
</div>


<div class="spacer"></div>

<div class="text-left" ng-if="disk.debugMode">
  <table class="table table-striped finalized-table">
    <thead>
    <tr>
      <th>#</th>
      <th>{{'Page ID'|translate}}</th>
      <th>{{'Response'|translate}}</th>
      <!-- <th>Response Time</th> -->
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="response in results.current.testResults.responses">
      <td>{{$index+1}}</td>
      <td>{{response.presentationId.substr(0,15)}}</td>
      <td>{{response.response.substr(0,15)}}</td>
      <!-- <td>{{response.responseElapTimeMS}}</td> -->
      <td ng-switch on="{{response.correct}}">
        <span class="glyphicon glyphicon-ok" ng-switch-when="true"></span>
        <span class="glyphicon glyphicon-remove" ng-switch-when="false"></span>
        <span class="glyphicon glyphicon-minus" ng-switch-when="undefined"></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>




