<!--
* This file is subject to the terms and conditions defined in
* file 'LICENSE.txt', which is part of this source code package.
-->

<h1 ng-bind-html="trustAsHtml(page.dm.title)" ng-if="!!(page.dm.title)"></h1>

<div class="spacer"></div>

<h2 ng-bind-html="trustAsHtml(page.dm.subtitle)" ng-if="!!(page.dm.subtitle)"></h2>

<div class="spacer"></div>

<p ng-bind-html="trustAsHtml(page.dm.instructionText)" class="instructions" ng-if="!!(page.dm.instructionText)"></p>
