
<br>

<uib-accordion close-others="false">

  <!-- Protocols Table -->
  <div uib-accordion-group class="panel panel-default" heading="{{'Protocols'|translate}}" is-open="true">
    <div class="panel-body text-left">

      <div ng-if="devices.diskSpace < 200">
        <span class="glyphicon glyphicon-exclamation-sign warn-red"></span>
        {{'The device has less than 200 MB of disk space left. Please make more disk space available before adding more protocols.'|translate}}
      </div>

      <table class="table fixed">
        <thead>
          <tr>
            <th class="row-Name">{{'Name'|translate}}</th>
            <th class="row-Version">{{'Version'|translate}}</th>
            <th class="row-Date">{{'Date'|translate}}</th>
            <th class="row-Server">{{'Server'|translate}}</th>
          </tr>
        </thead>

        <tbody>
          <!-- non admin protocols -->
          <tr ng-repeat="p in disk.protocols | orderBy : 'name' track by $index" ng-if="!p.admin" ng-class="pclass(p)" ng-click="select(p)">
            <td class="row-Name">{{p.server === 'tabsintServer' ? p.siteName || p.name : p.name}}</td>
            <td class="row-Version">{{p.server === 'tabsintServer' ? p.name : p.version}}</td>
            <td class="row-Date">{{p.server === 'gitlab' ? p.date.replace('T', ' ').split('.')[0] : p.date}} </td>
            <td class="row-Server">{{p.server}}</td>
          </tr>

          <tr></tr>

          <!--  admin protocols -->
          <tr ng-repeat="p in disk.protocols | orderBy : 'name' track by $index" ng-if="p.admin && disk.debugMode"  ng-class="pclass(p)" ng-click="select(p)">
            <td class="row-Name">{{p.name}}</td>
            <td class="row-Version">{{p.server === 'tabsintServer' ? p.name : p.version}}</td>
            <td class="row-Date">{{p.date}}</td>
            <td class="row-Server">{{p.server}}</td>
          </tr>
        </tbody>
      </table>

      <!-- Protocol validation -->
      <div class="row">
        <div class="col-xs-6"> {{'Validate protocols:'|translate}} </div>
        <div class="col-xs-2"> <input type="checkbox" ng-model="disk.validateProtocols"> </div>
        <div class="col-xs-2"></div>
        <div class="col-xs-1" uib-popover-html="validatePopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
      </div>

      <div class="row pad-top">
        <div class="col-xs-4">
          <button ng-disabled="!selected || tasks.disabled" ng-if="!protocol.isRoot(selected)" class="btn btn-primary btn-block" ng-click="load()"> <i class="ion-compose"/> {{'Load'|translate}}</button>
          <button ng-disabled="!selected || tasks.disabled" ng-if="protocol.isRoot(selected)" class="btn btn-default btn-block" ng-click="load()"> <i class="ion-refresh"/> {{'Reload'|translate}}</button>
        </div>
        <div class="col-xs-4">
          <button ng-if="!(selected.server === 'localServer' || selected.server === 'developer')" ng-disabled="!selected || tasks.disabled" class="btn btn-success btn-block" ng-click="update()"><i class="ion-android-sync"/> Update</button>
        </div>
        <div class="col-xs-4">
          <button ng-if="selected.server !== 'developer'" ng-disabled="!selected || tasks.disabled" class="btn btn-danger btn-block" ng-click="delete()"><i class="ion-trash-a"/> {{'Delete'|translate}} </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Media Repos Table -->
  <div uib-accordion-group class="panel panel-default" heading="{{'Media' | translate}}" is-open="true" ng-if="disk.mediaRepos.length > 0">
    <div class="panel-body text-left">

      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>{{'Name'|translate}}</th>
            <th>{{'Version'|translate}}</th>
            <th>{{'Date'|translate}}</th>
            <th><div uib-popover-html="mediaTablePopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div></th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="m in disk.mediaRepos track by $index" ng-class="mclass(m) ? 'active-row': ''">
            <td>
              <button ng-if="m.server === 'gitlab'" ng-disabled="tasks.disabled" class="btn btn-success btn-sm" ng-click="updateMedia(m)"><i class="ion-android-sync"/></button>
            </td>
            <td>{{m.name}}</td>
            <td>{{m.version}}</td>
            <td>{{m.date.replace('T', ' ').split('.')[0]}}</td>
            <td>
              <button class="btn btn-danger btn-sm" ng-disabled="tasks.disabled" ng-click="deleteMedia(m)"><i class="ion-trash-a"/></button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <!-- Local Protocols -->
  <div uib-accordion-group class="panel panel-default" heading="{{'Source' | translate}}" is-open="true">
    <div class="panel-body text-left">

      <!-- Protocol Source -->
      <div class="row pad-top">
        <div class="col-xs-4" translate> Server: </div>
        <div class="col-xs-6"></div>
        <div class="col-xs-1" uib-popover-html="serverPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
      </div>
      <div class="row pad-top">
        <div class="col-xs-4">
          <button class="btn btn-primary btn-block"  ng-class="disk.server === 'tabsintServer' ? 'active' : '' "  ng-click="changeServer('tabsintServer')" translate>TabSINT Server</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-primary btn-block"  ng-class="disk.server === 'gitlab' ? 'active' : '' " ng-click="changeServer('gitlab')">Gitlab</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-primary btn-block"  ng-class="disk.server === 'localServer' ? 'active' : '' " ng-click="changeServer('localServer')" translate>Device Storage</button>
        </div>
      </div>
      <br><br>

      <!-- Local Server -->
      <div ng-if="disk.server === 'localServer'">
        <div class="row pad-top">
          <div class="col-xs-3">{{'Directory'|translate}}:</div>
          <div class="col-xs-5">
            <button class="btn btn-default btn-block" ng-disabled="tasks.disabled" ng-click="add()"> <i class="ion-plus-round"></i> {{'Add'|translate}}</button>
          </div>
          <div class="col-xs-2"></div>
          <div class="col-xs-1" uib-popover-html="localAddPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
        </div>
      </div>



      <!-- TabSINT Server -->
      <div ng-if="disk.server === 'tabsintServer'">
        <div class="row pad-top">
          <div class="col-xs-3">{{'Site:'|translate}}</div>
          <div class="col-xs-6"><input type="text" enter-close class="form-control" placeholder="Name" ng-model="newSite.name"></div>
          <div class="col-xs-1"></div>
          <div class="col-xs-1" uib-popover-html="tabsintAddPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
        </div>

        <!-- Add -->
        <div class="row pad-top">
          <div class="col-xs-3"></div>
          <div class="col-xs-5">
             <button class="btn btn-default btn-block" ng-disabled="!newSite.name || tasks.disabled" ng-click="add()"><i class="ion-plus-round"></i> {{'Add'|translate}}</button>
          </div>
        </div>

        <div ng-if="disk.protocol.id && disk.protocol.server === 'tabsintServer' ">
          <div class="row pad-top">
            <div class="col-xs-12">
              Active protocol:<br>
              <ul>
                <li ng-if="disk.protocol.name">{{'Protocol Name:'|translate}} {{disk.protocol.name}}</li>
                <li ng-if="disk.protocol.date">{{'Protocol Created on:'|translate}} {{disk.protocol.date}}</li>
                <li ng-if="disk.protocol.creator">{{'Protocol Uploaded by:'|translate}} {{disk.protocol.creator}}</li>
              </ul>
            </div>
          </div>
        </div>

        <br>

        <!-- Show Advanced -->
        <div class="row pad-top">
          <div class="col-xs-12"><a ng-click="panes.protocols.advancedTabsintServer = !panes.protocols.advancedTabsintServer">
            <div ng-if="panes.protocols.advancedTabsintServer" translate>Hide Advanced Settings</div>
            <div ng-if="!panes.protocols.advancedTabsintServer" translate>Show Advanced Settings</div></a>
          </div>
        </div>

        <!--  -->
        <div ng-if="panes.protocols.advancedTabsintServer">
          <hr>

          <!-- Server URL -->
          <div class="row pad-top">
            <div class="col-xs-4" translate>URL:</div>
            <div class="col-xs-6"> <input type="text" enter-close class="form-control" placeholder="URL" ng-change="tabsintServer.clearAuthorization()" ng-model="disk.servers.tabsintServer.url"></div>
            <div class="col-xs-1" uib-popover-html="tabsintUrlPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
          </div>

          <!-- Username -->
          <div class="row pad-top">
            <div class="col-xs-4" translate>Username:</div>
            <div class="col-xs-6"> <input type="text" enter-close class="form-control" placeholder="Username" ng-change="tabsintServer.clearAuthorization()" ng-model="disk.servers.tabsintServer.username"></div>
            <div class="col-xs-1" uib-popover-html="tabsintUsernamePopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
          </div>

          <!-- Password -->
          <div class="row pad-top">
            <div class="col-xs-4" translate>Password:</div>
            <div class="col-xs-6"><input type="password" class="form-control" placeholder="Password" ng-change="tabsintServer.clearAuthorization()" ng-model="disk.servers.tabsintServer.password"></div>
            <div class="col-xs-1" uib-popover-html="tabsintPasswordPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
          </div>

          <!-- Reset -->
          <div class="row pad-top">
            <div class="col-xs-4"></div>
            <div class="col-xs-6"><small><a ng-click="tabsintServer.defaults(true)" translate>Reset to Default</a></small></div>
            <div class="col-xs-1" uib-popover-html="serverDefaultPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
          </div>

          <!-- Validate -->
          <div class="row pad-top">
            <div class="col-xs-2">{{'Valid'|translate}}:</div>
            <div class="col-xs-2" ng-if="tabsintServer.dm.authorized === true">{{'Yes'|translate}}</div>
            <div class="col-xs-2" ng-if="tabsintServer.dm.authorized === false">{{'No'|translate}}</div>
            <div class="col-xs-2" ng-if="tabsintServer.dm.authorized === undefined">?</div>
            <div class="col-xs-6"><small><a ng-click="tabsintServer.reauthorize()">{{'Validate Now'|translate}}</a></small></div>
            <div class="col-xs-1" uib-popover-html="serverAuthorizePopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
          </div>

        </div>
      </div>

      <!-- Gitlab -->
      <div ng-if="disk.server === 'gitlab'">

        <div class="row pad-top">
          <div class="col-xs-3">{{'Repository:'|translate}}</div>
          <div class="col-xs-6"><input type="text" enter-close class="form-control" placeholder="Name" ng-model="gitlabProtocol.name"></div>
          <div class="col-xs-1"></div>
          <div class="col-xs-1" uib-popover-html="gitlabAddPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
        </div>

        <div class="row pad-top">
          <div class="col-xs-3">{{'Version:'|translate}}</div>
          <div class="col-xs-6"><input type="text" enter-close class="form-control" placeholder="Latest" ng-model="gitlabProtocol.version"></div>
          <div class="col-xs-1"></div>
          <div class="col-xs-1" uib-popover-html="gitlabAddVersionPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
        </div>

        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">
              <i>{{'Tracking by '|translate}}</i><i ng-if="disk.gitlab.useTagsOnly"><strong>{{'tags'|translate}}</strong></i><i ng-if="!disk.gitlab.useTagsOnly"><strong>{{'commits'|translate}}</strong></i>
          </div>
        </div>

        <!--
            Get Creare Protocols
            APP DEVELOPER FOR NOW
        -->
<!--         <div class="row pad-top" ng-if="disk.appDeveloperMode">
          <div class="col-xs-6"> {{'Download protocols from Creare'|translate}} </div>
          <div class="col-xs-2"> <input type="checkbox" ng-change="onDownloadCreareProtocolsChange()" ng-model="disk.downloadCreareProtocols"> </div>
          <div class="col-xs-2"></div>
          <div class="col-xs-1" uib-popover-html="downloadCreareProtocolsPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
        </div> -->

        <!-- Add -->
        <div class="row pad-top">
          <div class="col-xs-3"></div>
          <div class="col-xs-5">
            <button class="btn btn-default btn-block" ng-disabled="!gitlabProtocol.name" ng-click="add()"><i class="ion-plus-round"></i> {{'Add'|translate}}</button>
          </div>
        </div>
        <br>

        <!-- Show Advanced -->
        <div class="row pad-top">
          <div class="col-xs-12"><a ng-click="panes.protocols.advancedGitlab = !panes.protocols.advancedGitlab">
            <div ng-if="panes.protocols.advancedGitlab" translate>Hide Advanced Settings</div>
            <div ng-if="!panes.protocols.advancedGitlab" translate>Show Advanced Settings</div></a></div>
        </div>

        <div ng-if="panes.protocols.advancedGitlab">
          <hr>

          <!-- Repository name -->
          <div class="row pad-top">
            <div class="col-xs-4" translate> Host: </div>
            <div class="col-xs-6"> <input type="text" enter-close class="form-control" placeholder="Host" ng-model="disk.servers.gitlab.host"></div>
            <div class="col-xs-1" uib-popover-html="gitlabHostPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
          </div>

          <!-- Token -->
          <div class="row pad-top">
            <div class="col-xs-4" translate>Token: </div>
            <div class="col-xs-6"><input type="text" enter-close class="form-control" placeholder="Token" ng-model="disk.servers.gitlab.token"></div>
            <div class="col-xs-1" uib-popover-html="gitlabTokenPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
          </div>

          <!-- Namespace -->
          <div class="row pad-top">
            <div class="col-xs-4" translate>Group:</div>
            <div class="col-xs-6"><input type="text" enter-close class="form-control" placeholder="Namespace" ng-model="disk.servers.gitlab.namespace"></div>
            <div class="col-xs-1" uib-popover-html="gitlabNamespacePopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
          </div>

          <!-- Reset -->
          <div class="row pad-top">
            <div class="col-xs-4"></div>
            <div class="col-xs-6" class="text-right"><small><a ng-click="gitlab.initDefault()" translate>Reset to Default</a></small></div>
            <div class="col-xs-1" uib-popover-html="serverDefaultPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
          </div>

          <hr>

          <!-- Use Tags/Commits -->
          <div class="row pad-top">
            <div class="col-xs-6" translate>Only Track <b>Tags:</b></div>
            <div class="col-xs-2"><input type="checkbox" ng-model="disk.gitlab.useTagsOnly"> </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-1" uib-popover-html="gitlabUseTagsPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
          </div>

          <!-- Use a separate repo for results -->
          <div class="row pad-top">
            <div class="col-xs-6" translate>Change Results Location:</div>
            <div class="col-xs-2"><input type="checkbox" ng-model="disk.gitlab.useSeparateResultsRepo" ng-change="gitlab.toggleSeparateResultsRepo()"> </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-1" uib-popover-html="gitlabUseSeperateResultsRepoPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
          </div>

          <!-- Results Group -->
          <div class="row pad-top" ng-if="disk.gitlab.useSeparateResultsRepo">
            <div class="col-xs-4" translate>Results Group:</div>
            <div class="col-xs-6"><input type="text" enter-close class="form-control" placeholder="Namespace" ng-model="disk.servers.gitlab.resultsGroup"></div>
            <div class="col-xs-1" uib-popover-html="gitlabResultsGroupPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
          </div>

          <!-- Results Repo -->
          <div class="row pad-top" ng-if="disk.gitlab.useSeparateResultsRepo">
            <div class="col-xs-4" translate>Results Repository:</div>
            <div class="col-xs-6"><input type="text" enter-close class="form-control" placeholder="Repository" ng-model="disk.servers.gitlab.resultsRepo"></div>
            <div class="col-xs-1" uib-popover-html="gitlabResultsRepoPopover" popover-placement="left" popover-trigger="outsideClick"><i class="ion-help-circled"></i></div>
          </div>
        </div>

      </div>
    </div>
  </div>

<uib-accordion>
