<div class="panel-body text-left">

  <!-- Svantek state -->
  <div class="row pad-top">
    <div class="col-xs-4">State: </div>
    <div class="col-xs-8" ng-if="svantek.state === 'connected'"><em>Connected</em></div>
    <div class="col-xs-8" ng-if="svantek.state === 'disconnected'"><em>Not Connected</em></div>
    <div class="col-xs-8" ng-if="svantek.state !== 'connected' && svantek.state !== 'disconnected'"><em>Connecting</em></div>
  </div>

  <div class="row pad-top">
    <div class="col-xs-4" ng-switch="svantek.state">
      <button ng-switch-default class="btn btn-primary btn-block disabled custom-disabled">Connect</button>
      <button ng-switch-when="disconnected" class="btn btn-primary btn-block" ng-disabled="!bluetoothStatus.state" ng-class="!bluetoothStatus.state ? 'disabled custom-disabled': ''" ng-click="svantek.connect()">Connect</button>
    </div>
    <div class="col-xs-4" ng-switch="svantek.state">
      <button ng-switch-default class="btn btn-primary btn-block disabled custom-disabled">Disconnect</button>
      <button ng-switch-when="connected" class="btn btn-primary btn-block" ng-click="svantek.disconnect()">Disconnect</button>
      <button ng-switch-when="recording" class="btn btn-primary btn-block" ng-click="svantek.disconnect()">Disconnect</button>
      <button ng-switch-when="disconnected" class="btn btn-primary btn-block disabled custom-disabled">Disconnect</button>
    </div>
    <div class="col-xs-4" ng-switch="svantek.state">
      <button ng-switch-default class="btn btn-primary btn-block disabled custom-disabled">Cancel</button>
      <button ng-switch-when="connecting" class="btn btn-primary btn-block" ng-click="svantek.cancelConnect()">Cancel</button>
      <button ng-switch-when="disconnected" class="btn btn-primary btn-block disabled custom-disabled">Cancel</button>
      <button ng-switch-when="connected" class="btn btn-primary btn-block disabled custom-disabled">Cancel</button>
    </div>
  </div>

  <!-- This portion should only be visible to developers -->
  <div class="row pad-top" ng-if="disk.appDeveloperMode">
    <div class="col-xs-4" ng-switch="svantek.state">
      <button ng-switch-default class="btn btn-primary btn-block disabled custom-disabled">Start recording</button>
      <button ng-switch-when="connected" class="btn btn-primary btn-block" ng-click="svantek.start()">Start recording</button>
      <button ng-switch-when="disconnected" class="btn btn-primary btn-block disabled custom-disabled">Start recording</button>
    </div>
    <div class="col-xs-4" ng-switch="svantek.state">
      <button ng-switch-default class="btn btn-primary btn-block disabled custom-disabled">Stop recording</button>
      <button ng-switch-when="recording" class="btn btn-primary btn-block" ng-click="svantek.stop()">Stop recording</button>
      <button ng-switch-when="disconnected" class="btn btn-primary btn-block disabled custom-disabled">Stop recording</button>
      <button ng-switch-when="connected" class="btn btn-primary btn-block disabled custom-disabled">Stop recording</button>
    </div>
  </div>
  <div class="row pad-top" ng-if="disk.appDeveloperMode">
    <div class="col-md-12" ng-switch="svantek.data.time" style="word-wrap: break-word;">
      Last recording: "{{ svantek.data }}"
    </div>
  </div>

  <div class="row pad-top" ng-if="svantek.state === 'connected'">
    <div class="col-xs-4">Device: </div>
    <div class="col-xs-8">{{svantek.device.name}}</div>
  </div>


</div>
